<div class="scroll-up-btn">
  <i class="fa fa-angle-up"></i>
</div>

<!-- Header -->
<div class="tm-header">
  <div class="container">
    <div class="row">
      <div class="tm-site-name-container" style="float: left;">
        <a href="/" class="tm-site-name">
          <img src="/../img/PARYATANA-new.png" width="250" height=auto" id="logo">
        </a>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-9">
        <div class="mobile-menu-icon">
          <div class="mobile-menu-icon-wrap">
            <span class="stick stick-1"></span>
            <span class="stick stick-2"></span>
            <span class="stick stick-3"></span>
            <span class="stick stick-4"></span>
          </div>
        </div>
        <nav class="tm-nav" style="float: left; width: max-content;">
          <ul>
            <li><a id="one" href="/<%- lang %>/" class="active">Home</a></li>
            <li><a class="upper_links" href="/<%- lang %>/about-us">About</a></li>
            <li><a class="upper_links" href="/<%- lang %>/services?category=submitted">Submitted facilities</a></li>
            <li><a class="upper_links" href="/<%- lang %>/services?category=current">Our current affairs</a></li>
            <li><a class="upper_links" href="/<%- lang %>/services?category=projects">Projects</a></li>
            <li><a class="upper_links" href="/<%- lang %>/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

