<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">
<!-- loader -->

<!-- end loader -->
<%- include('partials/header') %>
<!-- inner page banner -->
  <div class="category__banner" style="margin-top: 60px;" >
  <img src="/images/umumy.jpg" alt="Dukan" title="Dukan" class="img-thumbnail category__banner-img">
  <div class="category__banner-description-box">
      <p class="category__banner-description" data-key="our-blog" ></p>
  </div>
</div>
<div class="tag-sub-container">
    <% for(let i=0; i < categories.length; i++) {%>
      <% if(cat == 'Umumy' && categories[i].optione == 'Umumy') {%>
        <a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><div class="sub-item">
          <%- categories[i].category %>
        </div></a>
      <%}%>
      <%}%>
      <% for(let i=0; i < categories.length; i++) {%>
        <% if(cat == 'Gurlushyk' && categories[i].optione == 'Gurlushyk') {%>
          <a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><div class="sub-item">
            <%- categories[i].category %>
          </div></a>
        <%}%>
        <%}%>
        <% for(let i=0; i < categories.length; i++) {%>
          <% if(cat == 'Sowgatlyk' && categories[i].optione == 'Sowgatlyk') {%>
            <a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><div class="sub-item">
              <%- categories[i].category %>
            </div></a>
          <%}%>
          <%}%>
        <% for(let i=0; i < categories.length; i++) {%>
          <% if(cat == 'Kanselyariya' && categories[i].optione == 'Kanselyariya') {%>
            <a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><div class="sub-item">
              <%- categories[i].category %>
            </div></a>
          <%}%>
          <%}%>
          <% for(let i=0; i < categories.length; i++) {%>
            <% if(cat == 'Eshikler' && categories[i].optione == 'Eshikler') {%>
              <a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><div class="sub-item">
                <%- categories[i].category %>
              </div></a>
            <%}%>
            <%}%>
            <% for(let i=0; i < categories.length; i++) {%>
              <% if(cat == 'Dowrebap' && categories[i].optione == 'Dowrebap') {%>
                <a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><div class="sub-item">
                  <%- categories[i].category %>
                </div></a>
              <%}%>
              <%}%>
</div>
<select style="float: right; width: 100px; margin-right: 10px;" class="form-select" onchange="javascript:handleSelect(this)">
  <option style="display: none;"selected>Filter</option>
  <option value="?">Bellenen</option>
  <option value="?filter=ASC">Arzandan gymmada</option>
  <option value="?filter=DESC">Gymmatdan arzana</option>
</select>
  <script type="text/javascript">
    function handleSelect(elm)
    {
       window.location = elm.value;
    }
  </script>
      <div class="con-cards">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.6/css/boxicons.min.css' rel='stylesheet'>
        <% if(posts.length > 0) {%>
        <% for(let i=0; i < limit; i++) { %>
      <div class="card">
        <div class="con-image">
            <img class="img" src="/uploads/posts/<%- posts[i].post_img %>" alt="">
        </div>

        <div class="con-text">
            <h3>
              <%- posts[i].title %>
            </h3>
        </div>

        <div class="con-price">
          <%- posts[i].excerpt %>
        </div>
        <div >
          <ul>
            <li><i class="fa fa-comment" aria-hidden="true"></i> <%- posts[i].comment_count %></li>
          </ul>
        </div>
        <a style="float: left; font-size: 1.3em; font-weight: 600;" href="/<%- lang %>/blog/<%- posts[i].id %>" data-key="podrobnee" class="read-more"></a>
        <div class="con-btn">
            <Button onclick="handleAdd(event)" class="add">
                Add to cart
            </Button>

            <div class="con-input-btns">
                <Button onclick="plusLess(event, 'less')" class="less">
                    <i class='bx bx-minus' ></i>
                </Button>
                <input value="1" type="number">
                <Button onclick="plusLess(event, 'plus')" class="plus">
                    <i class='bx bx-plus'></i>
                </Button>
            </div>
        </div>
      </div>
        <% } %>
        <% } %>
        <% if(pagecounter) { %>
        <div class="center">
          <ul class="pagination style_1 mb-5">
            <% for(let p=1;p <= pagecounter; p++) {%>
            <% if(pageNum==p) {%><li class="active"><%}else{%><li><%}%> <a href="/<%- lang %>/blog?page=<%- p %>&category=<%- url %>"><%- p %></a></li>
            <% } %>
          </ul>
        </div>
        <% } %>
      </div>

<%- include('partials/footer') %>
<script src="/js/cart.js"></script>
<%- include('partials/js') %>
</body>
</html>
