<!DOCTYPE html>
<html lang="en">
<%- include('partials/detail_head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">
<!-- loader -->

<!-- end loader -->
<!-- header -->
<%- include('partials/detail_header') %>

<div class="section padding_layout_1 blog_grid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
        <div class="full">
          <div class="blog_section margin_bottom_0">
            <div class="post_commt_form mb-5">
              <h4 data-key="napisikom">НАПИШИ КОММЕНТАРИИ</h4>
              <div class="form_section">
                <form class="form_contant" id="form" onsubmit="return false;">
                  <fieldset class="row">
                  <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input class="field_custom" placeholder="Эл. адрес"  type="email" name="email" id="email" required>
                  </div>
                  <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input class="field_custom" placeholder="Имя" type="text"  name="firstname" id="firstname" required>
                  </div>
                  <div class="field col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input class="field_custom" placeholder="Фамилия" type="text"  name="lastname" id="lastname" required>
                  </div>
                  <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea class="field_custom" placeholder="Комментарий" name="content" id="content" required></textarea>
                  </div>
                  <input type="hidden" value="<%- post[0].id %>" name="secret" id="secret">
                  <div id="error" class="alert alert-danger" style="display: none;">Error</div>
                  <div id="success" class="alert alert-success" style="display: none;">Success</div>
                  <div class="center">
                    <button class="btn main_bt" type="submit" data-key="otprav">ОТПРАВЬ</button>
                  </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- end section -->
<%- include('partials/detail_footer') %>
<%- include('partials/detail_js') %>
<%- include('partials/js') %>
<script src="/../js/comment.js"></script>
</body>
</html>
