<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">
<%- include('partials/header') %>

<div class="shopping-cart">

<div style="min-height: 500px;" class="con-cards">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.6/css/boxicons.min.css' rel='stylesheet'>
    <% if(cart_products.length > 0) {%>
    <% for(let i=0; i < limit; i++) { %>
  <div class="carde add-active">
    <div class="id" style="display: none;" ><%- cart_products[i].id %></div>
    <div class="con-image">
        <img class="img" src="/uploads/posts/<%- cart_products[i].post_img %>" alt="">
    </div>

    <div class="con-text">
        <h3>
          <%- cart_products[i].title_ru %>
        </h3>
    </div>

    <div  class="con-price">
      <%- cart_products[i].excerpt_tm %>
    </div>
    <style>
      .con-price:after{
      content: 'TMT';
      }
    </style>
    <a style="float: left; font-size: 1.3em; font-weight: 600;color: hsl(162, 73%, 46%)" href="/<%- lang %>/blog/<%- cart_products[i].id %>" data-key="podrobnee" class="read-more"></a>
    <div class="con-btn">
        <div class="con-input-btns">
            <Button onclick="plusLess(event, 'less')" class="less">
                <i class='bx bx-minus' ></i>
            </Button>
            <input value="1" type="number">
            <Button onclick="plusLess(event, 'plus')" class="plus">
                <i class='bx bx-plus'></i>
            </Button>
        </div>
    </div>
  </div>
    <% } %>
    <% } %>
</div>

<div class="totals">
    <div class="totals-item">
      <label data-key="subtotal" >Subtotal</label>
      <div class="totals-value" id="cart-subtotal">0</div>
    </div>
    <div class="totals-item">
      <label data-key="dostawka" >Shipping</label>
      <div class="totals-value" id="cart-shipping">15.00</div>
    </div>
    <div  class="totals-item totals-item-total">
      <label data-key="umumyjem" >Grand Total</label>
      <div class="totals-value" id="cart-total">90.57</div>
    </div>
</div>
      
      <button class="checkout" data-key="sargytet" >Checkout</button>

</div>
<script src="/js/cart.js" ></script>
<script src="/js/lang.js"></script>
<script src="/js/lang-switcher.js"></script>
<%- include('partials/footer') %>


</body>
</html>
