<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">

<%- include('partials/header') %>
<section class="tm-banner">
  <!-- Flexslider -->
  <div class="flexslider flexslider-banner">
    <ul class="slides">
      <% if(banners.length > 0) {%>
        <% for(let i=0; i < banners.length; i++) { %>
      <li>
        <img src="/uploads/banners/<%- banners[i].img_name %>" alt="Image" />
      </li>
      <% } %>
      <% } %>
    </ul>
  </div>
</section>
	<!-- gray bg -->
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider effect2 effect2-contact tm-contact-box-1">
				<ul class="slides">
					<li>
						<img class="contact-image-container" src="/img/contact.jpg">
						<div class="contact-text">
							<h2 class="slider-title"> Contact for tours </h2>
							<h3 class="slider-subtitle"> Paryatna team provides special packages, festival discounts and
								best experience for the customers</h3>
							<p class="slider-description">At Paryatna, you can find the best of deals and cheap air tickets to any place you want by booking your tickets on our website or app. Being India’s leading website for hotel, flight, and holiday bookings, Paryatna helps you book flight tickets that are affordable and customized to your convenience. With customer satisfaction being our ultimate goal, we also have a 24/7 dedicated helpline to cater to our customer’s queries and concerns. Serving over 5 million happy customers, we at Paryatna are glad to fulfill the dreams of folks who need a quick and easy means to find air tickets. You can get a hold of the cheapest flight of your choice today while also enjoying the other available options for your travel needs with us.
								<br><br>
								With customer satisfaction being our ultimate goal, we also have a 24/7 dedicated helpline to cater to our customer’s queries and concerns. Serving over 5 million happy customers, we at Paryatna are glad to fulfill the dreams of folks who need a quick and easy means to find air tickets. You can get a hold of the cheapest flight of your choice today while also enjoying the other available options for your travel needs with us.</p>
							<div class="slider-social">
								<a href="https://twitter.com/" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://www.facebook.com/" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="https://in.pinterest.com/" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="https://plus.google.com/" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- white bg -->
	<section class="section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">Contact Us</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
				</div>
        <section class="contact-page-sec">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="contact-info">
                  <div class="contact-info-item">
                    <div class="contact-info-icon">
                      <i class="fas fa-map-marked"></i>
                    </div>
                    <div class="contact-info-text">
                      <h2>address</h2>
                      <span>1215 Lorem Ipsum, Ch 176080 </span> 
                      <span>Chandigarh , INDIA</span> 
                    </div>
                  </div>            
                </div>          
              </div>          
              <div class="col-md-4">
                <div class="contact-info">
                  <div class="contact-info-item">
                    <div class="contact-info-icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-info-text">
                      <h2>E-mail</h2>
                      <span>info@LoremIpsum.com</span> 
                      <span>yourmail@gmail.com</span>
                    </div>
                  </div>            
                </div>                
              </div>                
              <div class="col-md-4">
                <div class="contact-info">
                  <div class="contact-info-item">
                    <div class="contact-info-icon">
                      <i class="fas fa-clock"></i>
                    </div>
                    <div class="contact-info-text">
                      <h2>office time</h2>
                      <span>Mon - Thu  9:00 am - 4.00 pm</span>
                      <span>Thu - Mon  10.00 pm - 5.00 pm</span>
                    </div>
                  </div>            
                </div>          
              </div>          
            </div>
          </div>
        </section>
			</div>
		</div>
	</section>
<%- include('partials/footer') %>
<%- include('partials/js') %>
</body>
</html>

