<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body id="default_theme" class="it_service" lang="<%- lang %>">
<!-- loader -->

<!-- end loader -->
<!-- header -->
<%- include('partials/header') %>
<!-- section -->
<h4  style="font-size: 1.8em; margin-top: 20px; margin-left: 30px; float: left; border-bottom: 5px solid #690404;" data-key="categories">категории</h4>
      <div style="clear: both;" ></div>
<!-- Contenedor -->
<div class="vmob">
  <ul id="accordion" class="accordion">
  <li>
    <div class="link"><p style="padding-left: 15%; margin-top: -3%;" data-key="filter1" >Umumy hojalyk harytlary</p><i style="padding-top: 2%;" class="fa fa-chevron-down"></i><i><img width="65" src="/images/images/254850.ag2.png"></i></div>
    <ul class="submenu" >
      <% for(let i=0; i < categories.length; i++) {%>
        <% if(categories[i].optione == 'Umumy') {%>
        <li><a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><%- categories[i].category %></a></li>
        <%}%>
        <%}%>
    </ul> 
  </li>
  <li>
    <div class="link"><p style="padding-left: 15%; margin-top: -3%;" data-key="filter2" >Gurlushyk harytlary</p><i style="padding-top: 2%;" class="fa fa-chevron-down"></i><i><img width="65" src="/images/images/955540.ca2.png"></i></div>
    <ul class="submenu">
      <% for(let i=0; i < categories.length ; i++) {%>
        <% if(categories[i].optione == 'Gurlushyk') {%>
        <li><a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><%- categories[i].category %></a></li>
        <%}%>
        <%}%>
    </ul>
  </li>
  <li>
   <div class="link"><p style="padding-left: 15%; margin-top: -3%;" data-key="filter3" >Sowgatlyk we oy bezegleri</p><i style="padding-top: 2%;" class="fa fa-chevron-down"></i><i><img width="65" src="/images/images/896640.rkq.png"></i></div>
   <ul class="submenu" >
    <% for(let i=0; i < categories.length ; i++) {%>
      <% if(categories[i].optione == 'Sowgatlyk') {%>
      <li><a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><%- categories[i].category %></a></li>
      <%}%>
      <%}%>
  </ul>
  </li>
  <li>
    <div class="link"><p style="padding-left: 15%; margin-top: -3%;" data-key="filter4" >Kanselyariya we ofis harytlary</p><i style="padding-top: 2%;" class="fa fa-chevron-down"></i><i><img width="65" src="/images/images/700590.nz3.png"></i></div>
    <ul class="submenu" >
      <% for(let i=0; i < categories.length ; i++) {%>
        <% if(categories[i].optione == 'Kanselyariya') {%>
        <li><a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><%- categories[i].category %></a></li>
        <%}%>
        <%}%>
    </ul> 
  </li>
  
  <li>
    <div class="link"><p style="padding-left: 15%; margin-top: -3%;" data-key="filter5" >Eshikler we yantorbalar</p><i style="padding-top: 2%;" class="fa fa-chevron-down"></i><i><img width="65" src="/images/images/289400.2nr.png"></i></div>
    <ul class="submenu">
                  <% for(let i=0; i < categories.length; i++) {%>
                    <% if(categories[i].optione == 'Eshikler') {%>
                    <li><a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><%- categories[i].category %></a></li>
                    <%}%>
                    <%}%>
                </ul>
  </li>
  
 <li>
   <div class="link"><p style="padding-left: 15%; margin-top: -3%;" data-key="filter6" >Dowrebap enjamlar</p><i style="padding-top: 2%;" class="fa fa-chevron-down"></i><i><img width="65" src="/images/images/085970.u7n.png"></i></div>
   <ul class="submenu">
    <% for(let i=0; i < categories.length ; i++) {%>
      <% if(categories[i].optione == 'Dowrebap') {%>
      <li><a href="/<%- lang %>/blog?page=1&category=<%- categories[i].category_slug %>"><%- categories[i].category %></a></li>
      <%}%>
      <%}%>
  </ul> 
  </li>
</ul>
</div>
<div id="slider" class="section main_slider">
  <div class="container-fuild">
    <div class="row">
      <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
          <ul>
            <% for(let i=0; i < banners.length; i++) { %>
            <li data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="/uploads/banners/<%- banners[i].pic_name %>"  data-rotate="0"  data-saveperformance="off"  data-title="<%- banners[i].head_text %>" data-description="">
              <video class="img-fluid rev_slider_wrapper"  autoplay loop muted>
                <source src="/uploads/banners/<%- banners[i].img_name %>" type="video/mp4" />
              </video>
            </li>
            <% } %>
          </ul>
          <div class="tp-static-layers"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vmob">
  <ul id="accordione" class="accordione">
    <li>
      <div class="linke"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
      </svg></div>
      <ul class="submenue" >
        <li><a href="/<%- lang %>">Gymmatdan arzana</a></li>
        <li><a href="/<%- lang %>/ASC">Arzandan gymmada</a></li>
      </ul>
    </li>
  </ul>
</div>
        <div class="full">
          <% if(posts.length > 0) {%>
          <% for(let i=0; i < limit; i++) { %>
          <div class="blog_section">
          <section class="articles">
            <article>
              <div class="article-wrapper">
                <figure>
                  <img src="/uploads/posts/<%- posts[i].post_img %>" alt="" />
                </figure>
                <div class="article-body">
                  <h2><%- posts[i].title %></h2>
                  <div class="post_info">
                    <ul>
                      <li><i class="fa fa-comment" aria-hidden="true"></i> <%- posts[i].comment_count %></li>
                    </ul>
                  </div>
                  <p>Bahasy: <%- posts[i].excerpt %> TMT</p>
                  <a href="/<%- lang %>/blog/<%- posts[i].id %>" data-key="podrobnee" class="read-more">
                     <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </a>
                </div>
              </div>
            </article>
          </section>
        </div>
          <% } %>
          <% } %>
          <% if(pagecounter) { %>
          <div class="center">
            <ul class="pagination style_1 mb-5">
              <% for(let p=1;p <= pagecounter; p++) {%>
              <% if(pageNum==p) {%><li class="active"><%}else{%><li><%}%> <a href="/<%- lang %>/blog?page=<%- p %>&category=<%- url %>"><%- p %></a></li>
              <% } %>
            </ul>
          </div>
          <% } %>
        </div>
<!-- section -->
<div class="section">
  <div class="container text-monospace">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center" >
            <h2 data-key="pocemu_my">Наши привилегии</h2>
            <p class="large" data-key="fast_remont">Быстрый ремонт и лучшая цена</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--end section-->
<!--konsultasiya-->
<div class="section" style="margin-bottom:20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="contact_us_section">
            <div class="call_icon"> <img src="/images/it_service/phone_icon.png" alt="#" /> </div>
            <div class="inner_cont">
              <h2 data-key="free_sowet">Бесплатные советы от нас</h2>
              <p data-key="yest_problem">Если у вас возникли проблемы с вашими устройствами берите бесплатную консултацию</p>
            </div>
            <div class="button_Section_cont"> <a class="btn dark_gray_bt" data-key="contact" href="/contact">Контакты</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end konsultasiya-->
<!-- section -->
<div class="section padding_layout_1 light_silver gross_layout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_left">
            <h2 data-key="about_serwis">О Сервисе</h2>
            <p class="large" data-key="remont_ustr">Легко и эффективно почините устройства</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2">
                <div style="float: left;" class="icon text_align_left"><i class="fa fa-handshake-o"></i></div>
                <h4 style="padding-left: 120px; padding-top: 30px;" class="service-heading" data-key="doverennye_uslugi">Доверенные Услуги</h4>
                <p data-key="garantiya100">Гарантия на 100%</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2">
                <div style="float: left;" class="icon text_align_left"><i class="fa fa-percent"></i></div>
                <h4 style="padding-left: 120px; padding-top: 30px;" class="service-heading" data-key="best_price">Лучшая цена и акции</h4>
                <p data-key="nash_serwis">Наш сервис предлагает различные акции</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="full">
              <div class="service_blog_inner2">
                <div style="float: left;" class="icon text_align_left"><i class="fa fa-users"></i></div>
                <h4 style="padding-left: 120px; padding-top: 30px;" class="service-heading" data-key="professional_team">Профессиональная команда</h4>
                <p data-key="our_team">Наши соотрудники работают профессионально и в самых коротких сроках с выездом домой</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->



<%- include('partials/footer') %>
<%- include('partials/js') %>
</body>
</html>

